-- 菜单 SQL
insert into sys_menu (menu_name, parent_id, sort_by, path, component, is_frame, menu_type, visible, status, perms, icon, create_by, update_by, remark)
values('${functionName}', '3', '1', '${businessName}', '${moduleName}/${businessName}/index', 0, 'C', '1', '1', '${permissionPrefix}:list', '#', 'admin', 'admin', '${functionName}菜单');

-- 按钮父菜单ID
SELECT @parentId := LAST_INSERT_ID();

-- 按钮 SQL
insert into sys_menu (menu_name, parent_id, sort_by, path, component, is_frame, menu_type, visible, status, perms, icon, create_by, update_by, remark)
values('${functionName}查询', @parentId, '1',  '#', '', 0,  'F', '1', '1', '${permissionPrefix}:query',        '#', 'admin', 'admin', '');

insert into sys_menu (menu_name, parent_id, sort_by, path, component, is_frame, menu_type, visible, status, perms, icon, create_by, update_by, remark)
values('${functionName}新增', @parentId, '2',  '#', '', 0,  'F', '1', '1', '${permissionPrefix}:add',          '#', 'admin', 'admin', '');

insert into sys_menu (menu_name, parent_id, sort_by, path, component, is_frame, menu_type, visible, status, perms, icon, create_by, update_by, remark)
values('${functionName}修改', @parentId, '3',  '#', '', 0,  'F', '1', '1', '${permissionPrefix}:edit',         '#', 'admin', 'admin', '');

insert into sys_menu (menu_name, parent_id, sort_by, path, component, is_frame, menu_type, visible, status, perms, icon, create_by, update_by, remark)
values('${functionName}删除', @parentId, '4',  '#', '', 0,  'F', '1', '1', '${permissionPrefix}:remove',       '#', 'admin', 'admin', '');

insert into sys_menu (menu_name, parent_id, sort_by, path, component, is_frame, menu_type, visible, status, perms, icon, create_by, update_by, remark)
values('${functionName}导出', @parentId, '5',  '#', '', 0,  'F', '1', '1', '${permissionPrefix}:export',       '#', 'admin', 'admin', '');
